= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :name
  .field
    = f.label :detail
    = f.text_field :detail
  .field
    = f.label :status_id
    = f.collection_select :status_id, Status.all, :id, :name, :selected => @task.status_id
  .field
    -# = f.label :user_id
    - if @task.user_id.nil?
      = f.text_field :user_id
    - else
      = @task.user_id
      = f.text_field :user_id
  .actions
    = f.submit 'Save'
